/*body*/
html {
    height: 100%;
}

nav {
color: darkblue;
font-size: 15px;
font-family:'Times New Roman', Times, serif;
display: flex;
flex-direction: column;
box-sizing: border-box;
margin:0;
height: 100%;
    text-align: left;
    
  }
h1 {
    color:rgb(128, 17, 231);
    text-align: center;
    font-size: 40px;
}
p {
    color:purple;
    text-align:center;
    font-size:20px;
    
}
button,
.choiceBtn {
    background-color:teal;
    padding: 5px 15px;
    border-radius: 4px;
    border-style: none;
    color:lightgray;
    text-align: center;
    display: inline-block;
    margin: 0.5em 0.5em 0 0.5em;
    justify-content: center;

}


.hide {
    display: none;
}

.show {
    display: center;
}
/*.hiddenQuiz {
    display: none;
}*/ 